.bodySection{
    background: linear-gradient( transparent, #050222D6 30%);
    z-index: 1;
    position: relative;
    margin-top: 45em;
    top: -15em;
    padding: 2em;
    padding-top: 5em;
}

div .menu{
    color: white;
    margin: 0.5em;
    display: inline-block;
    width: auto;

}

div .submenu{
    color: white;
    margin: 0.5em;
    display: inline-block;
    width: auto;

}

div.logo{
    width: 100%;
    text-align: center;
}

div.logo img{
    width: 20%;
}

.titles img{
    width: 97%;
    border: solid 0.2em transparent;
    border-radius: 15px;
    transition: 0.3s;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.titles{
    margin: 0.5em;
    display: inline-block;
    text-align: center;
    height: 14em;
    padding: 0;
    width: 19%;
}

h1{
    margin-left: 1em;
    font-family: Avenir-Heavy, sans-serif;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.4;
}

h2{
    margin-left: 2em;
    font-family: Avenir-Heavy, sans-serif;
    font-size: 17px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.4;
}

.titles img:hover{
    border: solid 0.2em white;
}

